<div id="initial">
	<div class="panel">
			<span id="title__stage">
				Stage: 1
			</span>
			<span id="title__exercise">
				Exercise: <span id="gridId">3</span>
			</span>
			<span id="title__num-of-moves">
				Number of moves: {{numberOfMoves}}
			</span>
	</div>
	<div class="panel">
			
			<table id="leftButtons" cellspacing="8">
				<tr>
					<td></td>
				</tr>
				<tr class="buffer">
				</tr>
				<tr>
					<td><button ng-click="left1Click()">←</button></td>
				</tr>
				<tr>
					<td><button ng-click="left2Click()">←</button></td>
				</tr>
				<tr>
					<td><button ng-click="left3Click()">←</button></td>
				</tr>
			</table>

			<table id="grid1">
				<tr >
					<td><button ng-click="up1Click()">↑</button></td>
					<td><button ng-click="up2Click()">↑</button></td>
					<td><button ng-click="up3Click()">↑</button></td>
				</tr>
				<tr class="buffer">
				</tr>
			  	<tr id={{y.rowId}} ng-repeat="y in number_game_3.jumbled">
			  		<td tabindex="{{y.rowId}}{{x.id}}" id="{{y.rowId}}{{x.id}}" ng-repeat="x in y.rowValues"><div class="cell">{{x.bcolor}}</div></td>
			  	</tr>
			  	<tr class="buffer">
				</tr>
			  	<tr>
			  		<td><button ng-click="down1Click()">↓</button></td>
			  		<td><button ng-click="down2Click()">↓</button></td>
			  		<td><button ng-click="down3Click()">↓</button></td>
			  	</tr>
			</table>
			<table id="rightButtons">
				<tr>
					<td></td>
				</tr>
				<tr class="buffer">
				</tr>
				<tr>
					<td><button ng-click="right1Click()">→</button></td>
				</tr>
				<tr>
					<td><button ng-click="right2Click()">→</button></td>
				</tr>
				<tr>
					<td><button ng-click="right3Click()">→</button></td>
				</tr>
			</table>
			<div id="grid2">
				<table  cellspacing="8">		
				  <tr valign="top" class="nborder" id={{y.rowId}} ng-repeat="y in number_game_3.answer">
				  	<td tabindex="a{{y.rowId}}{{x.id}}" id="a{{y.rowId}}{{x.id}}" ng-repeat="x in y.rowValues"><div class="cell">{{x.bcolor}}</div></td>
				  </tr>
				</table>
			</div>
	</div>
</div>
<div id="final">
	<div class="panel">
		You completed exercise 3 in {{numberOfMoves}} moves with a score of {{score}}<br/><br>
		Your combined score is {{totalScore}}
	</div>
	<div class="center-container">
		<a ui-sref="logic_game_demo">
			<div class="button--big">Proceed to next stage
			</div>
		</a>
	</div>
</div>