<div id="initial">
	<div class="panel">
		<span id="title__stage">
			Stage: 2
		</span>
		<span id="title__question">
			Question: <span id="gridId">5</span>
		</span>
	</div>
	<div class="panel">
	{{logic_game_5.question1}}<br/><br/>
	{{logic_game_5.question2}}
	</div>
	<div class="stretch-container">
		<a ng-repeat="x in logic_game_5.answers" ng-click="complete($event)">
			<div id="{{x.correct}}" class="border button__logic-answers">
				{{x.text}}
			</div>
		</a>
	</div>
</div>
<div id="final">
	<div class="panel">
			You got {{numberCorrect}} out of 5 gaining a score of {{score}}<br/><br>
			Your combined stage 1 and stage 2 score is {{totalScore}}
	</div>
	<div class="center-container">
		<a ui-sref="home">
			<div class="button--big">Proceed to  stage 3
			</div>
		</a>
	</div>
</div>