<div class="panel">
	<p>Welcome to the Cybercom Group assessment centre for employment applications. A vacancy for the position of Chief Technical Officer for our global organization has recently become available. The role requires an individual that meets the highest standards.</p>
	<br/>
	<p>The successful candidate will need to pass tests in logical reasoning numerical reasoning and verbal reasoning.</p>
		<br/>
	<p>Press "continue" for an introduction to stage 1.</p>
		<br/>
	<p>Good luck!</p>
</div>